*, *::before, *::after{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

:root{
  /* 
  # rows, # columns, values determined by user input/ selected size 
  height/ y scale of bracket dependent on size of selected matrix 
  */ 
  --m: 0;
  --n: 0; 

  --a-m:0;
  --a-n:0;
  --b-m:0; 
  --b-n:0; 

  --bracket-y-scale: 1; 
  --top1: 1px; 

  --small-bracket-y-scale: 1; 

  --matrix-a-buttons-width: 1; 

}

body{
  margin: 0;
  padding: 0; 
  height: 100vh;
  background-color: #f0f4f7;
}

ul{
  list-style: none;
}

table{
  width: 100%;
  border-spacing: .8px;
}

td {
  width: 100%;
  height: 100%;
  font-size: .9em;
  font-weight: bold;
}


.main-header{
  /* background: linear-gradient(to right, #87CEFA, #00FA9A,	#F0FFFF); */
  background: linear-gradient(to right, rgb(121,154,185),#d6e0ea, #6ba5a1);
  /* rgb(136,174,173)*/
  text-align: center;
 /* font-variant: small-caps;  */
  margin-top: 10px;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  font-size: 1.1em;
}

.cursor-ptr{
  cursor: pointer;
}

span.left-bracket, 
span.right-bracket{
  align-self: flex-start;
  align-self: baseline;
  font-size: 1.8rem;

  /* font-size: 2em; */
  /* transform: scale(1, 4); */
  transform: scale(1, var(--bracket-y-scale));

  /* margin-top: calc(7px * var(--bracket-y-scale));  */


  position: relative;
  top: var(--top1);

  /* margin: 10px 5px 15px 5px;  */



  visibility: hidden;

  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}


.button #clear-button{
  /* background-color: #87CEFA;   */
  /* background-color: linear-gradient(to right ,rgb(129,129,129), rgb(166,166,166), rgb(203,203,203), rgb(221,221,221), rgb(255,255,255)); */
  /* margin-left: 50px; */

  background-color: #6ba5a1; 
  background: linear-gradient(to right, #6ba5a1, #d6e0ea);
  background: linear-gradient(to right, rgb(121,154,185) , #d6e0ea);
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px black;
  /* padding: 4px 8px; */
}

.button #compute-button{
  /* background-color: #00FA9A;  */
  /* background-color: linear-gradient(to left ,rgb(129,129,129), rgb(166,166,166), rgb(203,203,203), rgb(221,221,221), rgb(255,255,255)); */
  /*background: linear-gradient(to right, #87CEFA, #00FA9A,	#F0FFFF); */ 
  
  /* background-color: rgb(121,154,185); */
  /* background: linear-gradient(to right, rgb(121,154,185), #d6e0ea); */
  /* background: linear-gradient(to right, rgb(121,154,185) ,rgb(121,154,185), #d6e0ea); */
  background: linear-gradient(to right, #6ba5a1, #d6e0ea);

  border: 2px solid black;
  cursor: pointer;
  /* padding: 8px 16px; */
  box-shadow: 0 1px black;
} 


.button #compute-button:active{
  box-shadow: 0 .4px #000000;
  transform: translateY(1px);
}

.button #clear-button:active{
  box-shadow: 0 .4px #000000;
  transform: translateY(1px);
}


.solution-box{
  grid-row: 4/5;
  grid-column: 1/4;
  min-height: 100px;
  min-width: 500px;
  border: 3px solid #000000;
  justify-self: left;
  margin-bottom: auto;
  border-radius: 2%;
  background-color: #F0FFFF;
  display: flex;

  visibility: hidden;
}




.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointer{
  cursor: pointer;
  margin: 2px; 
}

.bold {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

.main-container .size-container{
  margin-top: 40px;
  margin-right: 80px;
  /* border: 2px solid #000000; */
}

.main-container .m-size, 
.main-container .n-size{
  width: 40px;
  height: 40px;
  margin: 5px;
}


.main-container .center-btn{
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
  margin-left: 5px;
}

.main-container .matrices-container{
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */

  display: grid;
  grid-template-columns: 2fr .4fr 2fr .4fr;
  border: 2px solid #333; 
  margin-top: 10px;

}


.main-container .matrices-container .operator{
  margin-bottom: 100px;
  align-self: center;
}

.main-container .matrices-container #swap-btn{
  margin-bottom: 10px;
}

.main-container .matrices-container #matrix-operator{
  margin-left: 8px;
}


.main-container .matrices-container #compute-btn{
  /* TODO: FIX POTNETIAL OVERLAP */
  width: 80px;
  height: 40px;
  margin-top: 60%; 
  
  border: 2px solid blue;
  
}

.main-container .matrices-container .matrix-buttons{
  border: 2px solid #333; 

  display: grid;
  grid-template-columns: repeat(2, 100px);
  margin-top: 5px;
}


.main-container .matrices-container .matrix-grid-a,
.main-container .matrices-container .matrix-grid-b{
  /* border: 2px solid #333;  */
  width: max-content; 
}

.template{
  display: grid; 
  gap: 2px; 
  margin-left: 20%;
}

.template-grid-a{
  grid-template-rows: repeat(var(--a-m), 50px);
  grid-template-columns: repeat(var(--a-n), 50px);
}

.template-grid-b{
  grid-template-rows: repeat(var(--b-m), 50px);
  grid-template-columns: repeat(var(--b-n), 50px);
}





.main-container .button{
  text-align: center;
}

.main-container #matrix-a-raised-btn,
.main-container #matrix-b-raised-btn{
  text-align: left;
  grid-column: span 2;
}

.main-container #matrix-a-raised-power, 
.main-container #matrix-b-raised-power{
  width: 80px; 
  height: 20px;
}

.main-container .solution-container{
  border: 5px solid rgb(121,154,185); 
  margin-top: 40px;
  min-width: 500px;
  min-height: 100px;
  
  transform: scale(0);
}


.main-container .solution-container .result-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;  
  grid-auto-rows: minmax(100px, auto);

}

.main-container .solution-container .result-wrapper  > div{
  border: 2px solid black; 
  max-height: fit-content;
  max-width: fit-content;
}



.warning-box{
  width: 800px;
  max-width: 80%;
  height: 100px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px; 
  margin-left: -400px;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0);

  display: flex;
  flex-direction: column;
  text-align: center;


  border: 2px solid ; 
  background: #d6e0ea;
}

.warning-box.active{
  /* transform: translate(-50%, -50%);
  transform: scale(1);
  opacity: 0;
  pointer-events: none; */
  /* transform: translate(-50%, -50%);
  transform: scale(1); */
  transform: scale(1); 
}

.warning-box #warning-msg{
  padding: 10px; 
  font-weight: bold;
}

 .warning-box #close-btn{
  width: 80px;
  height: 30px;
  cursor: pointer;
  margin: auto;
}

#overlay-background{
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  pointer-events: none;
}

#overlay-background.active{
  opacity: 1; 
  pointer-events: all;
}


input[type="number"] {
  font-size:18px;
}


/* .main-container .matrix-a-buttons div #matrix-a-det-btn{

  width: 60px;
  height: 40px;
}

.main-container .matrix-a-buttons div #matrix-a-inverse-btn{
  width: 60px; 
  height: 40px;
}



.main-container .matrix-a-buttons #matrix-a-raised{
  width: 100px;
  height: 40px; 
}
.main-container .matrix-a-buttons #matrix-a-raised-power{
  width: 40px;
  height: 20px;
}

.main-container .matrix-a-buttons #matrix-a-transpose-btn{
  
  height: 40px;
}

.main-container .matrix-a-buttons #matrix-a-clear-btn{
  width: 60px; 
  height: 40px;
}

.main-container .matrix-b-buttons{
  border: 2px solid #333;
}

*/ 

/* .main-container #compute-btn{
  width: 100px;
  height: 40px;
  align-self: center;
  margin-left: 20px;
}  */



input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}
