*, *::before, *::after{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

:root{
  /* 
  # rows, # columns, values determined by user input/ selected size 
  height/ y scale of bracket dependent on size of selected matrix 
  */ 
  --m: 0;
  --n: 0; 

  --a-m:0;
  --a-n:0;
  --b-m:0; 
  --b-n:0; 

  /* --bracket-y-scale: 1; 
  --top1: 1px; 

  --small-bracket-y-scale: 1; 

  --matrix-a-buttons-width: 1;  */

}

body{
  margin: 0;
  padding: 0; 
  height: 100vh;
  background-color: #f0f4f7;
}

ul{
  list-style: none;
}

table{
  border-spacing: 5px;
}

td {
  /* width: 100%;
  height: 100%; */
  font-size: 1em;
  font-weight: bold;
}


.main-header{
  background: linear-gradient(to right, rgb(121,154,185),#d6e0ea, #6ba5a1);
  text-align: center;
  margin-top: 10px;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  font-size: 1.1em;
}

.cursor-ptr{
  cursor: pointer;
}

span.left-bracket, 
span.right-bracket{
  align-self: flex-start;
  align-self: baseline;
  font-size: 1.8rem;

  /* font-size: 2em; */
  /* transform: scale(1, 4); */
  transform: scale(1, var(--bracket-y-scale));

  /* margin-top: calc(7px * var(--bracket-y-scale));  */


  position: relative;
  top: var(--top1);

  /* margin: 10px 5px 15px 5px;  */



  visibility: hidden;

  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}


.button #clear-button{
  /* background-color: #87CEFA;   */
  /* background-color: linear-gradient(to right ,rgb(129,129,129), rgb(166,166,166), rgb(203,203,203), rgb(221,221,221), rgb(255,255,255)); */
  /* margin-left: 50px; */

  background-color: #6ba5a1; 
  background: linear-gradient(to right, #6ba5a1, #d6e0ea);
  background: linear-gradient(to right, rgb(121,154,185) , #d6e0ea);
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px black;
  /* padding: 4px 8px; */
}

.button #compute-button{
  /* background-color: #00FA9A;  */
  /* background-color: linear-gradient(to left ,rgb(129,129,129), rgb(166,166,166), rgb(203,203,203), rgb(221,221,221), rgb(255,255,255)); */
  /*background: linear-gradient(to right, #87CEFA, #00FA9A,	#F0FFFF); */ 
  
  /* background-color: rgb(121,154,185); */
  /* background: linear-gradient(to right, rgb(121,154,185), #d6e0ea); */
  /* background: linear-gradient(to right, rgb(121,154,185) ,rgb(121,154,185), #d6e0ea); */
  background: linear-gradient(to right, #6ba5a1, #d6e0ea);

  border: 2px solid black;
  cursor: pointer;
  /* padding: 8px 16px; */
  box-shadow: 0 1px black;
} 


.button #compute-button:active{
  box-shadow: 0 .4px #000000;
  transform: translateY(1px);
}

.button #clear-button:active{
  box-shadow: 0 .4px #000000;
  transform: translateY(1px);
}


/* .solution-box{
  grid-row: 4/5;
  grid-column: 1/4;
  min-height: 100px;
  min-width: 500px;
  border: 3px solid #000000;
  justify-self: left;
  margin-bottom: auto;
  border-radius: 2%;
  background-color: #F0FFFF;
  display: flex;

  visibility: hidden;
} */




.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointer{
  cursor: pointer;
  margin: 2px; 
}

.bold {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

.main-container .size-container{
  margin-top: 40px;
  margin-right: 80px;
}

.main-container .m-size, 
.main-container .n-size{
  width: 40px;
  height: 40px;
  margin: 5px;
}

.main-container .center-btn{
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
  margin-left: 5px;
}

.main-container .matrices-container{
  display: grid;
  grid-template-columns: 2fr .5fr 2fr .5fr;
  gap: 10px;
  border: 8px solid;
  border-color:#6ba5a1 rgb(121,154,185) rgb(121,154,185) #6ba5a1;


  margin: 0 auto;
  margin-top: 20px;
}

.main-container .matrices-container .matrix-label{
  text-align: left;
  margin-left: 50px;
  font-weight: bold;
}

.main-container .matrices-container .operator{
  align-self: center;
  margin-bottom: 100px;
}

.main-container .matrices-container #swap-btn{
  margin-bottom: 10px;
}

.main-container .matrices-container #matrix-operator{
  margin-left: 8px;
}

.main-container .matrices-container #compute-btn{
  width: 80px;
  height: 40px;
  margin-top: 60%; 
  margin-right: 5px;
}

.main-container .matrices-container .matrix-buttons{
  display: grid;
  grid-template-columns: repeat(2, 100px);
  margin: 5px;
  border: 2px solid #333333; 
}

.main-container .matrices-container .matrix-grid-a,
.main-container .matrices-container .matrix-grid-b{
  width: max-content; 
}

.template{
  display: grid; 
  gap: 2px; 
  margin-left: 50px;
}

.template-grid-a{
  grid-template-rows: repeat(var(--a-m), 50px);
  grid-template-columns: repeat(var(--a-n), 50px);
}

.template-grid-b{
  grid-template-rows: repeat(var(--b-m), 50px);
  grid-template-columns: repeat(var(--b-n), 50px);
}

.main-container .button{
  text-align: center;
}

.main-container .matrices-container .matrix-buttons .exponential-box{
  grid-column: span 2;
}

.main-container .matrices-container .matrix-buttons .exponential{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.main-container #matrix-a-raised-btn, 
.main-container #matrix-b-raised-btn{
  grid-column: span 3;
  width: 140px; 
}

.main-container .matrices-container .matrix-buttons .exponential #matrix-a-raised-power,
.main-container .matrices-container .matrix-buttons .exponential #matrix-b-raised-power{
  width: 45px;
  /* border: 0 none;  */
  border-color: rgb(121,154,185);
  border-radius: 10%; 
  height: 25px;
  align-self: center;
}


.main-container .matrices-container .matrix-buttons #matrix-a-transpose-btn, 
.main-container .matrices-container .matrix-buttons #matrix-b-transpose-btn{
  grid-row: 3/4;
  grid-column: 1/2;
}

.main-container .matrices-container .matrix-buttons #matrix-a-clear-btn, 
.main-container .matrices-container .matrix-buttons #matrix-b-clear-btn{
  grid-row: 3/4;
  grid-column: 2/3;
}



.main-container .solution-container{
  border: 5px solid #6ba5a1 ;
  /* border-color: #6ba5a1 #ffffff;  */
  margin-top: 30px;
  min-width: 300px;
  min-height: 100px;
  transform: scale(0);
}


.main-container .solution-container .result-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-container .solution-container .result-wrapper  > div{
  max-height: fit-content;
}



.warning-box{
  width: 800px;
  max-width: 80%;
  height: 100px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px; 
  margin-left: -400px;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0);

  display: flex;
  flex-direction: column;
  text-align: center;


  border: 2px solid ; 
  background: #d6e0ea;
}

.warning-box.active{
  /* transform: translate(-50%, -50%);
  transform: scale(1);
  opacity: 0;
  pointer-events: none; */
  /* transform: translate(-50%, -50%);
  transform: scale(1); */
  transform: scale(1); 
}

.warning-box #warning-msg{
  padding: 10px; 
  font-weight: bold;
}

 .warning-box #close-btn{
  width: 80px;
  height: 30px;
  cursor: pointer;
  margin: auto;
}

#overlay-background{
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  pointer-events: none;
}

#overlay-background.active{
  opacity: 1; 
  pointer-events: all;
}

input[type="number"] {
  font-size:18px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

