*, *::before, *::after{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

:root{
  /* # rows, # columns, values determined by user input/ specified size */
  --a-m:0;
  --a-n:0;
  --b-m:0; 
  --b-n:0; 

  --bracket-y-scale: 3; 
  --bracket-x-scale: 1.5; 
  --margin-bottom: 1px;

  --bracket-y-scale-1: 0; 
  --margin-bottom-1: 1px;
}

body{
  margin: 0;
  padding: 0; 
  height: 100vh;
  background-color: #f0f4f7;
}

ul{
  list-style: none;
}

table{
  border-spacing: 5px;
}

td {
  font-size: 1.2em;
  /* font-weight: bold; */
}

.main-header{
  background: linear-gradient(to right, rgb(121,154,185),#d6e0ea, #6ba5a1);
  text-align: center;
  margin-top: 10px;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  font-size: 1.1em;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointer{
  cursor: pointer;
  margin: 2px; 
}

.bold {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

.cursor-ptr{
  cursor: pointer;
}

.main-container .size-container{
  margin-top: 40px;
  margin-right: 80px;
}

.main-container .m-size, 
.main-container .n-size{
  width: 40px;
  height: 40px;
  margin: 5px;
}

.main-container .center-btn{
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
  margin-left: 5px;
}

.main-container .matrices-container{
  display: grid;
  grid-template-columns: 2fr .5fr 2fr .5fr;
  gap: 10px;
  border: 8px solid;
  border-color:#6ba5a1 rgb(121,154,185) rgb(121,154,185) #6ba5a1;

  margin: 0 auto;
  margin-top: 20px;
}

.main-container .matrices-container .matrix-label{
  text-align: left;
  margin-left: 50px;
  font-weight: bold;
}

.main-container .matrices-container .operator{
  align-self: center;
  margin-bottom: 100px;
}

.main-container .matrices-container #swap-btn{
  margin-bottom: 10px;
}

.main-container .matrices-container #matrix-operator{
  margin-left: 8px;
}

.main-container .matrices-container #compute-btn{
  width: 80px;
  height: 40px;
  margin-top: 60%; 
  margin-right: 5px;
}

.main-container .matrices-container .matrix-buttons{
  display: grid;
  grid-template-columns: repeat(2, 100px);
  margin: 5px;
  border: 2px solid #333333; 
}

.main-container .matrices-container .matrix-grid-a,
.main-container .matrices-container .matrix-grid-b{
  width: max-content; 
}

.template{
  display: grid; 
  gap: 2px; 
  margin-left: 50px;
}

.template-grid-a{
  grid-template-rows: repeat(var(--a-m), 50px);
  grid-template-columns: repeat(var(--a-n), 50px);
}

.template-grid-b{
  grid-template-rows: repeat(var(--b-m), 50px);
  grid-template-columns: repeat(var(--b-n), 50px);
}

.main-container .button{
  text-align: center;
}

.main-container .matrices-container .matrix-buttons .exponential-box{
  grid-column: span 2;
}

.main-container .matrices-container .matrix-buttons .exponential{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.main-container #matrix-a-raised-btn, 
.main-container #matrix-b-raised-btn{
  grid-column: span 3;
  width: 140px; 
}

.main-container .matrices-container .matrix-buttons .exponential #matrix-a-raised-power,
.main-container .matrices-container .matrix-buttons .exponential #matrix-b-raised-power{
  width: 45px;
  border-color: rgb(121,154,185);
  border-radius: 10%; 
  height: 25px;
  align-self: center;
  font-size: .8em;
}

.main-container .matrices-container .matrix-buttons #matrix-a-transpose-btn, 
.main-container .matrices-container .matrix-buttons #matrix-b-transpose-btn{
  grid-row: 3/4;
  grid-column: 1/2;
}

.main-container .matrices-container .matrix-buttons #matrix-a-clear-btn, 
.main-container .matrices-container .matrix-buttons #matrix-b-clear-btn{
  grid-row: 3/4;
  grid-column: 2/3;
}

.main-container .solution-container{
  border: 4px solid #558480;
  /* border-color: #6ba5a1 rgb(121,154,185) rgb(121,154,185) #6ba5a1; 
  border-color:#6ba5a1 rgb(121,154,185) #6ba5a1 rgb(121,154,185) ; */
  /* border-color: #6ba5a1 #ffffff;  */
  margin-top: 30px;
  min-width: 300px;
  min-height: 100px;
  transform: scale(0);
}

.main-container .solution-container .result-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-container .solution-container .result-wrapper  > div{
  max-height: fit-content;
}

.main-container .solution-container .put-in-ab {
  transform: scale(0);
  margin-top: 10px;
  margin-left: 15em; 
  border: 3px solid; 
  border-color: rgb(121,154,185) #ffffff #ffffff rgb(121,154,185); 
  padding: 3px; 
}

.main-container .solution-container #put-in-b-btn{
  margin-top: 5px;
}

.warning-box{
  width: 800px;
  max-width: 80%;
  height: 100px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px; 
  margin-left: -400px;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0);

  display: flex;
  flex-direction: column;
  text-align: center;


  border: 2px solid ; 
  background: #d6e0ea;
}

.warning-box.active{
  /* transform: translate(-50%, -50%);
  transform: scale(1);
  opacity: 0;
  pointer-events: none; */
  /* transform: translate(-50%, -50%);
  transform: scale(1); */
  transform: scale(1); 
}

.warning-box #warning-msg{
  padding: 10px; 
  font-weight: bold;
}

.warning-box #close-btn{
  width: 80px;
  height: 30px;
  cursor: pointer;
  margin: auto;
}

#overlay-background{
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  pointer-events: none;
}

#overlay-background.active{
  opacity: 1; 
  pointer-events: all;
}

input[type="number"] {
  font-size:18px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

/* bad css / practice but gets the job done to display brackets of the correct row height*/ 

.brackets{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.brackets::before{
  content: "(";
  align-self: center;
  transform: scale(var(--bracket-x-scale),var(--bracket-y-scale));
  margin-bottom: var(--margin-bottom);
  color: 	#afc5c3;
}
.brackets::after{
  content: ")";
  transform: scale(var(--bracket-x-scale), var(--bracket-y-scale));
  align-self: center;
  margin-bottom: var(--margin-bottom);
  color: 	#afc5c3;
}

.brackets-alt{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.brackets-alt::before{
  content: "(";
  align-self: center;
  transform: scale(var(--bracket-x-scale),var(--bracket-y-scale-1));
  margin-bottom: var(--margin-bottom-1);
  color: 	#afc5c3;
}
.brackets-alt::after{
  content: ")";
  transform: scale(var(--bracket-x-scale), var(--bracket-y-scale-1));
  align-self: center;
  margin-bottom: var(--margin-bottom-1);
  color: 	#afc5c3;
}